.titles{
    width: 100%;
   
    max-width: 1440px;
       margin-left: auto;
       margin-right: auto;
       padding: 0 5%;
    .title{
      
        cursor: pointer;
        position: relative;
        z-index: 2;
        
        .wrapper{
            display: inline-block;
      
            p{
                display: inline-block;
                color: #b7ab98;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 3vw;

                margin: 0px;
                position: relative;
                z-index: 2;
                &:nth-of-type(2){
                    display: block;
                    position: absolute;
                    color: #1c1c1c;
                    top: 0;
                    z-index: 1;
                }
            }
        }
    }
    
}